<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cook.me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <a href="/user/<%= current_user.username %>"><span class="glyphicon glyphicon-user"></span> Meu Perfil</a>
          </li>
          <li>
            <a href="/user/<%= current_user.username %>#cookbook"><span class="glyphicon glyphicon-book"></span> Meu Cookbook</a>
          </li>
        <% else %>
          <!-- Do nothing -->
        <% end %>
      </ul>
      <form class="navbar-form navbar-right" role="search" accept-charset="UTF-8" action="/buscar/" method="post">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Pesquisa">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <li><a href="/perfil/editar"><span class="glyphicon glyphicon-edit"></span> Editar Perfil</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Deslogar</a></li>
          </li>
        <% else %>
          <li>
            <li><a href="/perfil/criar"><span class="glyphicon glyphicon-user"></span> Criar Conta</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Efetuar Login</a></li>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
